body{font-family:'Lato', sans-serif;font-size:16px}
body.active{overflow:hidden;z-index:-1}
header{position:absolute;top:0;left:0;right:0;text-align:center;z-index:10;}
header ul{display:inline-block;background:#fff;text-align:center;padding:10px;margin:0;border-bottom-right-radius:4px;border-bottom-left-radius:4px}
header li{display:inline-block}
header a{display:block;color:#000000;padding:10px}
header a:hover{color:#0d1a22;text-decoration:none;background:#eee;border-radius:4px}
header.active{display:block}
header.sticky{position:fixed;z-index:999}
#menu.active{display:block}
footer{padding:50px 0; background:currentColor;}
.heading{position:relative;display:inline-block;font-size:2em;font-weight:300;margin:0 0 30px 0}
#lead{position:relative;height:100vh;min-height:500px;max-height:1080px;background-size:cover;padding:15px;overflow:hidden}
#lead-content{position:absolute;z-index:10;top:50%;left:50%;transform:translate(-50%, -50%);text-align:center}
#lead-content h1,#lead-content h2{margin:0}
#lead-content h1{color:#fff;font-weight:900;font-size:5em;text-transform:uppercase;letter-spacing:0.05em;line-height:0.9em}
#lead-content h2{color:#a0cfee;font-weight:500;font-size:2.25em;margin-bottom:15px}
#lead-overlay{position:absolute;height:100%;width:100%;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.8);z-index:1}
#about{padding:75px 15px;border-bottom:1px solid #dcd9d9}
#about h2{color:#374054}
#about p{color:#74808a;margin:0}
#contact{padding:50px 15px;text-align:center}
#contact h2{margin:0 0 15px 0;color:rosybrown;font-weight:500}
#contact-form{max-width:500px;margin:0 auto}
#contact-form input,#contact-form textarea{display:block;width:100%;padding:10px;border-radius:4px;border:none;margin-bottom:10px;background:#1d6fa5;color:#fff;}
#contact-form input:focus,#contact-form textarea:focus{outline:none;background:#16527a}
#contact-form textarea{height:150px;resize:none}
#contact-form button{display:block;width:100%;background:#fff;border-radius:4px;padding:5px 10px;border:none;color:#3498db;font-weight:700;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);}
